NET "cathodes<0>" LOC ="L14";
NET "cathodes<1>" LOC ="H12";
NET "cathodes<2>" LOC ="N14";
NET "cathodes<3>" LOC ="N11";
NET "cathodes<4>" LOC ="P12";
NET "cathodes<5>" LOC ="L13";
NET "cathodes<6>" LOC ="M12";

NET "anodes<0>" LOC ="K14";
NET "anodes<1>" LOC ="M13";
NET "anodes<2>" LOC ="J12";
NET "anodes<3>" LOC ="F12";

NET "btn" LOC ="A7";
NET "led<0>" LOC ="M5";
NET "led<1>" LOC ="M11";
NET "led<2>" LOC ="P7";
NET "led<3>" LOC ="P6";

NET "clk" LOC ="B8";